<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>373914593004-riscn2tcu5vo9fc3c595jg6im4t49s5f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChH4g8FPpU6D0dBWJsaxKHdrCW6PD1XD8</string>
	<key>GCM_SENDER_ID</key>
	<string>373914593004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.books</string>
	<key>PROJECT_ID</key>
	<string>sign-up-test-1</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-up-test-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373914593004:ios:5dd9820872742b6b58a7c9</string>
	<key>DATABASE_URL</key>
	<string>https://sign-up-test-1-default-rtdb.firebaseio.com</string>
</dict>
</plist>